@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollBars::-webkit-scrollbar{
    scrollbar-width: none;
    display: none; /* chrome */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}